<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div>
            UserName: @ViewBag.CurrentUserName
        </div>

        <div>
            Other UserName: @ViewData["CurrentUserName2"]
        </div>
        
        <div>
            Temp data: @TempData["TempDataKey"]
        </div>

        <br />
        <br />
        <br />

        @RenderBody()
    </div>
</body>
</html>
